**/**
__test__
coverage
dist
esm
config
node_modules
.coveralls.yml
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierrc
.travis.yml
config.ts
Dockerfile
jest.config.js
Makefile
tsconfig.json
package-lock.json
kraken.config.json
demo
